{% extends 'base/base.html' %}

{%block title%}
App Encuesta
{%endblock%}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">

                <h5 style="padding-top: 10px;">Hubo un problema con su encuesta, intente denuevo</h5>
                <br>
                <br>
        </div>
        <div class="row justify-content-center">
            <img src="https://okdiario.com/img/2018/03/13/como-calcular-porcentaje-de-error-655x368.jpg" >
        </div>
    </div>
{%endblock%}