{% extends 'base/base.html' %}

{% block content %}

{% if validlink %}
<div class="container" style="padding-top: 50px; padding-left: 250px;">
    <h1>Contraseña nueva</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nueva contraseña:</label>
        {{ form.new.password1 }}
        <input type="password" name="new_password1" id="id_new_password1">

        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirme su contraseña:</label> 
        <input type="password" name="new_password2" id="id_new_password2">
        {{ form.new.password2 }}
        <input type="submit" value="Cambiar Contraseña">
    </form>
    {% else %}
    <h1 class="text-center">¡ESTE ENLACE YA HA SIDO UTILIZADO!</h1>
    {% endif %}
</div>

{% endblock %}